h1{
	font-size: 50px;
	font-weight: bold;
	color: #1e77cc;
	text-align: left;
}

body{
    background:url(hullst.jpg) no-repeat center center fixed;
	background-size: cover;
}

.main_page {
	border-style: none;
	margin-left: 50px;
	margin-right: 50px;
	color: #1e77cc;
}

.main_page p{
	font-size: 30px;
	text-align: left;
}

.contact p{
	margin-left: 50px;
	margin-top: 200px;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color: #1e77cc;
}

.contact li{
	font-size: 20px;
	list-style-type: none;
	margin-left: 50px;

}

.contact a{
	color: #ff1a0c;
}
.wintershow p{
        margin-right: 50px;
        margin-top: 200px;
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        color: #1e77cc;
}


.wintershow li{
	font-size: 20px;
	list-style-type: none;
	margin-right: 50 px;
}
.shoutouts {
	position: relative;
	top: 800px;	
}
