h1{
	font-size: 70px;
	font-weight: bold;
	color: #125ea5;
	text-align: left;
}

body{
    width: 90%;
    margin: 1%;
    font-family: sans-serif;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;}
.column3{
    margin-right: 0%;
}

.main_page {
	border-style: none;
	margin-left: 50px;
	margin-right: 50px;
	color: #1e77cc;
}

.main_page p{
	font-size: 30px;
	text-align: left;
}

.main_page a{
    
    margin-top: 100px;
    font-size: 25px;
    text-align: left;
    color: #ff1a0c;
}

.contact p{
	margin-left: 50px;
	margin-top: 100px;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color: #1e77cc;
}

.column li{
    display: inline;
	font-size: 20px;
	list-style-type: none;
	margin-left: 50px;

}

.contact a{
	color: #ff1a0c;
}
.wintershow p{
        margin-left: 50px;
        margin-top: 100px;
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        color: #1e77cc;
}


.wintershow li{
	font-size: 20px;
	list-style-type: none;
	margin-left: 50px;
}

.wintershow a{
    color: #ff1a0c;
}

.shoutouts {
	position: relative;
	top: 600px;	
}
